.panel .panel-body .s{
    background-color: darkgray;

}
.panel .panel-body .ss{
    display: block;
}
.panel .panel-body .form-horizontal{
    margin-top: 50px;
}
.panel .panel-body .s1 .s11{
 display: block;
    margin-top: 100px;

}