
.panel .panel-body .ss{
    display: block;
}
.panel .panel-body .form-horizontal{
    margin-top: 50px;
}
.panel .panel-body .s {
    display: block;
    margin-top: 40px;

}
.panel .panel-body .s55 {

    margin-top: 40px;

}
.ss .s1{
    margin-left: 0px;
}