<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/index.css">

</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">CRM系统</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">CRM系统</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container">
    <h>平台首页</h>
    <div clas="row">

     <div class="col-md-8 col-md-offset-3">
         {% block content %}
        <table class="table table-bordered ">

            <tr>
                <th><input type="checkbox"></th>
                <th>调查问卷名称</th>
                <th>问卷调查班级</th>
                <th>参与人数</th>
                <th>问卷选项</th>
                <th>调查地址</th>
                <th>查看评分</th>
                <th>操作</th>
            </tr>
            {% for  obj in  questionnaire_obj %}
                <tr>
                    <td><input type="checkbox"></td>
                    <td>{{ obj.name }}</td>
                    <td>{{ obj.cls }}</td>
                    {#                     <td>{{ obj.name }}/{{ obj.join_num }}</td>#}
                    <td>{{ obj.name }}/{{ obj.cls.student_set.all.count }}</td>
                    <td><a href="/edit/{{ obj.id }}">问卷选项</a></td>
                    <td><a href="">调查地址</a></td>
                    <td><a href="">查看评分</a></td>
                    <td><a href="/del/{{ obj.id }}">
                        <button class="btn btn-danger">删除</button>
                    </a></td>
                </tr>

            {% endfor %}


        </table>
     {% endblock %}

         </div>


    </div>
</div>
</body>
</html>